<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div *ngIf="successMessage" class="alert alert-success">{{successMessage}}</div>
            <div  *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>
            <form [formGroup] ="addAuthorForm" (ngSubmit) ="addAuthor()">
                <div class="form-group">
                    <label for="">Author name</label>
                    <input formControlName="id" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Author ID</label>
                    <input formControlName="name" type="text" class="form-control">
                </div>
            </form>
            <button class="btn btn-primary" [disabled]="addAuthorForm.invalid" type="submit">add Author</button>
            <h3>Authors</h3 >
                <ul>
                    <li *ngFor="let author of authors">
                        {{author.id}}
                        <span *ngIf="!authorToUpdate || (authorToUpdate.id != author.id)">{{author.name}}
                            <button class="btn btn-danger btn-sm" (click)="deleteAuthor(author.id)">x</button>
                            <button (click)="selectAuthorToUpdate(author)" class="btn btn-warning btn-sm" >edit</button>
                        </span>
                        <span *ngIf="authorToUpdate && (authorToUpdate.id != author.id)">
                            <input type="text" [(ngModel)] ="authorToUpdate.name">
                            <button (click)="updateAuthor()" class="btn btn-primary btn-sm">update</button>
                        </span>
                    
                </li>
                </ul>
                <!-- here is the form for the novel -->
                <!-- <div class="alert alert-success" *ngIf="successMessage">
                    {{successMessage}}
                </div>
                <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                <div class="form-group">
                    <label for="">Novel Title</label>
                    <input type="text" [(ngModel)]="newNovel.title" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Year</label>
                    <input class="form-control" type="text" [(ngModel)]="newNovel.year">
                </div>
                <div class="form-group">
                  <label for="">Novel Id</label>
                  <input type="text" name="" id="" class="form-control" placeholder="" [(ngModel)]="newNovel.id">
                </div>
                <div class="form-group">
                    <label for="">Author Id</label>
                    <input type="text" class="form-control" [(ngModel)]="newNovel.authId" >
                </div>
                <button class="btn btn-primary" (click)="addNovel()">add Novel</button>
        </div>
        <h3>Novel</h3>
        <ul>
            <li *ngFor="let novel of novels">
                    {{novel}}
            </li>
        </ul> -->
    </div>
</div>

<!-- <input type="text" formControlName="username">
<div *ngIf="loginForm.get('username'.errors)">
    <div [hidden]="!loginForm"></div>
</div> -->